@media (max-width: 500px){

    #boton_crear{
        display: none;
    }    

    ul{
        display: flex;
        flex-direction: column;
        transform: translateY(-50vh);
    }

    .menu-desplegado{
        position: absolute;
        z-index: 99;
        width: 91vw;
        height: 92vh;
        transform: translate(-49vw, 5vh);
        background: rgba(87,46,229,0.90);
    }

    .items-menu{
        color: white;
        border-bottom: 1px solid white;
    }

    #burguer{
        display: inline-block;
        position: relative;
        left: 85vw;
        top: 2vh;
        z-index: 99;
    }

    #titulo{
        position: absolute;
        font-size: 5vw;
        top: 15vw;
        left: 27vw;
        width: 50%;
    }

    #titulo div{
        position: relative;
        left: 0vw;
       
    }
    
    .imagenPortada{
        width: 60vw;
        position: relative;
        right: 15vw;
        bottom: 2vh;
    }

    #favorito{
        right: 5vw;
    }

    .input{
        width: 72vw;
        left: 12vw;
    }

    #cuadros{
        grid-template-columns: 1fr 1fr;
    }

    #search{
        width: 63vw;
    }

    #flecha-Izquierda{
        display: none;
    }

    #flecha-Derecha{
        display: none;
    }

    #gifPadre{
      position: relative;
      top: 7vh;
      width: 78vw;
      height: 40vh;
      right: 5vw;
    }

    .cuadro{
        width: 45vw;
        height: 29vh;
    }

    .giftrending{
        width: 45vw;
        height: 40vh;
    }

    .giffav{
        width: unset;
    }

    #gifs{
        scroll-snap-align: center;
        overflow-x: scroll;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
    }

    #gifs-en-max{
        display: flex;
        position: relative;
        align-items: center;
    }

    #trendinggif{
        height: 60vh;
    }

    #btnVermas{
        width: 15vw;
    }

    #gif-en-max{
        width: 75vw;
        display: flex;
        position: relative;
        align-items: center;
    }

    #info{
        font-size: 0.6em;
        padding-top: 5%;
        left: 0vw;
    }
    .iconfavActive{
        width: unset;
        top: 1vw;
    }
    

    footer{
        font-size: 0.8em;
    }

    footer a{
        top: 2vw;
    }

    #compartir{
        width: 35vw;
    }

    .menu{
        color: white;
    }

}