@media (max-width: 500px){

    #boton_crear{
        display: none;
    }    

    ul{
        display: flex;
        flex-direction: column;
        transform: translateY(-30vh);
    }

    .menu-desplegado{
        position: absolute;
        z-index: 99;
        width: 91vw;
        height: 92vh;
        transform: translate(-49vw, 5vh);
        background: rgba(87,46,229,0.90);
    }

    .items-menu{
        color: white;
        border-bottom: 1px solid white;
    }

    #burguer{
        display: inline-block;
        position: relative;
        left: 85vw;
        top: 2vh;
    }

    #titulo{
        position: relative;
        font-size: 5vw;
        top: -25vw;
        left: 27vw;
        width: 50%;
    }

    #titulo div{
        position: relative;
        left: 0vw;
       
    }
    
    .imagenPortada{
        width: 60vw;
        position: relative;
        right: 15vw;
        bottom: 2vh;
    }

    .input{
        width: 72vw;
        left: 12vw;
    }

    #search{
        width: 63vw;
    }

    #flecha-Izquierda{
        display: none;
    }

    #flecha-Derecha{
        display: none;
    }

    #gifPadre{
      position: relative;
      top: 7vh;
      width: 78vw;
    }

    #gif{
        width: 65vw;
    }

}