   /*barra azul*/
   #barraAzul{
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 7px;
}
/*barra de navegacion*/
#burguer{
    display: none;
}

#logo{
    position: relative;
    left: 3vw;
}

nav{
    display: flex;
}

ul{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    left:49vw;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}

.menuModoN{
    color: white;
    
}


.menu, #menu{
    text-decoration: none;
    color: #572EE5;
}


.favoritosh5{
    color: #9CAFC3;
    text-decoration: none;
}


/*portada*/

#portada{
    position: relative;
    left: 50%;
    top: 5vh;
    display: inline-block;
}

#favorito{
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
    position: relative;
    right: 2vw;
}

/*cuadros*/

.display-none{
    display: none;
}

#cuadros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    top: 15vh;
}

.cuadro{
    border: 1px solid black;
   
    width: 21vw;
    height: 30vh;
}

.giffav{
    display: block;
    height: auto ;
}


#favSinContenido{
    position: relative;
    left: 183%;
}

#guardaFav{
    position: relative;
    right: 20%;
    color: #50E3C2;
    font-family: 'Montserrat-bold', sans-serif;
}

.padreUserNamefav{
    transform: translateY(-30px);
    position: absolute;
    color: white;
    font-weight: 400;
    width: 20%;
    top: 6rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.padreIconosfav{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-left: 10vw;
    top: 1rem;
}

.padreIconosfav img{
    margin-left: 1vw;
}

/*trending gifs */

#trendinggif{
    background-color: #F3F5F8;
    position: relative;
    top: 35vh;
}

#trendinggif h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 5vh;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}

#trendinggif p{
    
    position: relative;
    display: flex;
    justify-content: center;
    top: 5vh;

}

#gifs{
    display: flex;
    transition: all 1.5s ease;
}

#gifs div{
    margin-left: 1%;
}

.gif{
    width: 22.3vw;
 
    position: relative;
}


.padreUserName{
    bottom: 1vh;
    position: absolute;
    color: white;
    font-weight: 400;
    width: 30%;
    top: 7rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.padreUserName p{
    position: relative;
    
}

.display-none{
    display: none;
}

.padreUserNameb{
    bottom: 3vh;
    position: absolute;
    color: white;
   left: 2%;
    width: 30%;
    top: 4rem;
}

.padreUserNameb h3{
    width: 20vw;
    left: 2%;
}

.padreUserNameb p{
    margin-top: 40%;
}


.padreIconos{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-left: 13vw;
    top: 1rem;
}

.padding-left{
    padding-left: 12vw;
}

.padreIconos img{
    margin-left: 1vw;
}

.iconMax{
    content: url(../imagenes/icon-max-normal.svg);
    z-index: 1;
    position: relative;
   
}
.iconMax-hover{
    content: url(../imagenes/icon-max-hover.svg);
}

.none{
    display: none;
}


#x{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 15%;
    top: 8vh;
}

#gifs-en-max{
    display: flex;
    position: relative;
    top: 10vh;
    align-items: center;
    justify-content: center;
}

#gif-en-max{
    border: 1px solid black;
    width: 57vw;
    height: 60vh;
}

#info{
    position: relative;
    left: 5vw;
    font-size: 1em;
}

#User{
    font-size: 1.3em;
}

#pie{
    position: relative;
    top: 8vh;
    display: flex;
    justify-content: space-around;
}


.gifmax{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    top: 0;
}

.iconos{
    position: relative;
    top: 5vh;
}

.giftrending{
    width: 25vw;
    height: 35vh;
    position: relative;
}

.iconos img{
    margin-left: 15px;
}

.overflow{
    overflow: hidden;
}

.iconDownload{
    content: url('../imagenes/icon-download.svg');
    z-index: 1;
    position: relative;

   
    display: inline-block;
}
.iconDownload-hover{
    content: url('../imagenes/icon-download-hover.svg');
}
.iconfav{
    content: url('../imagenes/icon-fav.svg');
    z-index: 1;
    position: relative;
}

.iconfav-hover{
    content: url('../imagenes/icon-fav-hover.svg');
}

.iconfavActive{
    padding: 1.8%;
    content: url("../imagenes/icon-fav-active.svg");
    background-color: white;
    border-radius: 20%;
    width: 2vw;
}


#gifPadre{
    margin: 0 auto;
    width: 78vw;
    overflow: hidden;
    border: 1px solid black;
    height: 35vh;
    position: relative;
    /*background: linear-gradient( #572EE5 60%, white 90%);*/
}


#flecha-Izquierda{
    position: relative;
    top: 22vh;
    left: 4vw;
    padding-left: 1.5vw;
    display: inline-block;
}

#flecha-Derecha{
    position: relative;
    left: 89vw;
    top: -20vh;
    display: inline-block;
}

/*estilostrending*/





/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 40vh;
}

footer div{
    display: flex;
    position: relative;
}

footer a{
    position: relative;
    top: 3vh;
}

#compartir{
 display: flex;
 justify-content: space-between;
 width: 15%;
}

footer p{
    font-family: 'Roboto', sans-serif;
}

#barraAzul2{
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: relative;
    top: 40vh;
}
