.bodyModoN{
    background-color: #37383C ;
}

.liModoN{
    color: white;
    padding-left: 1.5vw;
}

.tituloModoN{
    color: white;
}

.inputModoN{
    color: #37383C;
}

.trendingp{
    color: white;
}

.trending{
    color: white;
}

.trending{
    
}



