
 
    /*barra azul*/
#barraAzul{
    background-color: #572EE5;
    height: 5px;
    position: relative;
    bottom: 7px;
}
/*barra de navegacion*/
#burguer{
    display: none;
}

#logo{
    position: relative;
    left: 3vw;
}

nav{
    display: flex;
}

ul{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    left:49vw;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}

.menuModoN{
    color: white;
    
}


.menu{
    text-decoration: none;
    color: #572EE5;
}
.menu:visited{
    color: #572EE5;
}

/*portada*/
#titulo{
    position: relative;
    left: 34vw;
    top: 3vh;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    display: inline-block;
    margin-bottom: 5%;
}

#titulo span{
    color: #50E3C2;
}

#titulo div{
    position: relative;
    left: 7vw;
}

#portada{
    position: relative;
    padding-left: 35vw;
    bottom: 5vh;
    
}
.imagenPortada{
    width: 30vw;
}

.input{
    border: 1px solid;
    border-radius: 27vw;
    border-color: #572EE5;
    position: relative;
    bottom: 5.4vh;
    width: 40%;
    left: 30vw;
}

.searchModoN{
    background-image: url('../imagenes/icon-search-modo-noct.svg');
}

#search{
    position: relative;
    left: 4vw;
    width: 32vw;
    height: 7vh;
    outline: none;
    bottom: 2.6vw;
    border: none;
    top: 0vw;
    background-image: url('../imagenes/icon-search.svg');
    background-repeat: no-repeat;
    background-position: right;
}


strong{
   color: black; 
}

.lista-autocompletar-items{
    color: #ccc;
    position: absolute;
    border: 1px solid #572EE5;
    z-index: 99;
    width: 38.8vw;
    
    
    border-top: none;
    top: 4.9vh;
}

.lista-autocompletar-items div{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4 ;
    
}

.lista-autocompletar-items div:hover{
    background-color: dodgerblue;
}

.autocompletar-active{
    background-color: dodgerblue;
    color: #a1caff ;
} 

.autocompletar-active strong{
    color: white;
}


#search:focus{
    transition: 4s all linear;
    background-image: none;
}


#iconSearch{
    position: relative;
    left: 4vw;
    top: 0.4vw;
}

#iconSearch:hover{
    cursor: pointer;
}




/*busquedad de gifs*/
#lineaGris{
    width: 30%;
    height: 1px;
    background-color: #9CAFC3;
    position: relative;
    top: 5vh;
    left: 35%;
    display: none;
}

#cajaNombre{
    position: relative;
    display: flex;
    justify-content: center;
}

#nombreBuscado{
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%;
    text-transform: capitalize;
}

.cuadro{
    margin: 1%;
    height: 20vh;
    width: 20vw;
    
    position: relative;
    top: 10vh;
   
}

#cuadros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

#gifNoEncontrado{
    position: relative;
    top: 20vh;
    left: 35.7vw;
    color: #50E3C2;
    font-family: 'Montserrat', sans-serif;
}
#gifNoEncontrado p{
    position: relative;
    right: 15%;
}
#cajaVermas{
    display: flex;
    justify-content: center;
}


#btnVermas{
    border: 1px solid #572EE5;
    height: 5vh;
    width: 7vw;
    display: none;
    justify-content: center;
    border-radius: 10vw;
    color: #572EE5;
    align-items: center;
}

#btnVermas:hover{
    background-color: #572EE5;
    color: white;
}

/*trending*/

#trending h3{
    position: relative;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    
}

#trending p{
    color: #572EE5;
    font-family: 'Montserrat-medium', sans-serif; ;
    position: relative;
    display: flex;
    justify-content: center;
    
}

/*trending gifs*/
#trendinggif{
    background-color: #F3F5F8;
    height:60vh;
    position: relative;
    
}

#trendinggif h2{
    position: relative;
    display: flex;
    justify-content: center;
    top: 5vh;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}

#trendinggif p{
    
    position: relative;
    display: flex;
    justify-content: center;
    top: 5vh;

}

#gifs{
    display: flex;
    transition: all 1.5s ease;
}

#gifs div{
    margin-left: 1%;
}

.gif{
    width: 25vw;
    height: 35vh;
    position: relative;
}

.padreUserName{
    bottom: 1vh;
    position: absolute;
    color: white;
    font-weight: 400;
    width: 30%;
    top: 7rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.padreUserName p{
    position: relative;
    
}



.padreIconos{

    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-left: 13vw;
    top: 1rem;
}

.padreIconos img{
    margin-left: 1vw;
}

.iconMax{
    content: url(../imagenes/icon-max-normal.svg);
    z-index: 1;
    position: relative;
   
}
.iconMax-hover{
    content: url(../imagenes/icon-max-hover.svg);
}

.none{
    display: none;
}


#x{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 15%;
    top: 8vh;
}

#gifs-en-max{
    display: flex;
    position: relative;
    top: 10vh;
    align-items: center;
    justify-content: center;
}

#gif-en-max{
    border: 1px solid black;
    width: 57vw;
    height: 60vh;
}

#info{
    position: relative;
    left: 5vw;
    font-size: 1em;
}

#User{
    font-size: 1.3em;
}

#pie{
    position: relative;
    top: 8vh;
    display: flex;
    justify-content: space-around;
}


.gifmax{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    overflow-x: hidden;
    top: 0;
}

.iconos{
    position: relative;
    top: 5vh;
}

.iconos img{
    margin-left: 15px;
}

.overflow{
    overflow: hidden;
}

.iconDownload{
    content: url('../imagenes/icon-download.svg');
    z-index: 1;
    position: relative;

   
    display: inline-block;
}
.iconDownload-hover{
    content: url('../imagenes/icon-download-hover.svg');
}
.iconfav{
    content: url('../imagenes/icon-fav.svg');
    z-index: 1;
    position: relative;
}

.iconfav-hover{
    content: url('../imagenes/icon-fav-hover.svg');
}

.iconfavActive{
    padding: 1.8%;
    content: url("../imagenes/icon-fav-active.svg");
    background-color: white;
    border-radius: 20%;
}


#gifPadre{
    margin: 0 auto;
    width: 78vw;
    overflow: hidden;
    border: 1px solid black;
    height: 35vh;
    position: relative;
    /*background: linear-gradient( #572EE5 60%, white 90%);*/
}


#flecha-Izquierda{
    position: relative;
    top: 22vh;
    left: 4vw;
    padding-left: 1.5vw;
    display: inline-block;
}

#flecha-Derecha{
    position: relative;
    left: 89vw;
    top: -20vh;
    display: inline-block;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-between;
}

footer div{
    display: flex;
    position: relative;
}

footer a{
    position: relative;
    top: 3vh;
}

#compartir{
 display: flex;
 justify-content: space-between;
 width: 15%;
}

footer p{
    font-family: 'Roboto', sans-serif;
    padding-top: 0.8vh;
}

#barraAzul2{
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: relative;
}