   /*barra azul*/
   #barraAzul{
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 7px;
}
/*barra de navegacion*/
#logo{
    position: relative;
    left: 150%;
}

nav{
    display: flex;
}

ul{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr;
    left: 45%;
}

li{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}

/*portada*/

#portada{
    position: relative;
    left: 50%;
    top: 5vh;
}

#favorito{
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
    position: relative;
    right: 2%;
    
}

/*cuadros*/

.display-none{
    display: none;
}

#cuadros{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    position: relative;
    top: 15vh;
}

.cuadro{
    border: 1px solid black;
    margin: 5%;
    width: 20vw;
    height: 30vh;
}

#favSinContenido{
    position: relative;
    left: 183%;
}

#guardaFav{
    position: relative;
    right: 20%;
    color: #50E3C2;
    font-family: 'Montserrat-bold', sans-serif;
}

/*trending gifs */

#trendinggif{
    background-color: #F3F5F8;
    height:60vh;
    position: relative;
    top: 40vh;
}

#trendinggif h2{
    position: relative;
    left: 43%;
    top: 5vh;
    color: #572EE5;
    font-family: 'Montserrat-bold', sans-serif;
}


#trendinggif p{
    
    position: relative;
    left: 38%;
    top: 5vh;
}

#gifs{
    display: flex;
    position: relative;
    top: 6vh;
    left: 7%;
}

#gifs div{
    margin-left: 1%;
}

#gif{
    border: 1px solid black;
    width: 25%;
    height: 35vh;
    margin-bottom: 1%;
}

.flecha{
   position: relative;
   top: 16vh;
   height: 4vh;
    
}
/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 40vh;
}

footer div{
    display: flex;
    position: relative;
}

footer a{
    position: relative;
    top: 3vh;
}

#compartir{
 display: flex;
 justify-content: space-between;
 width: 15%;
}

footer p{
    font-family: 'Roboto', sans-serif;
}

#barraAzul2{
    background-color: #572EE5;
    width: 100%;
    height: 5px;
    position: relative;
    top: 40vh;
}
